/* Common css */

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

p {
    color: rgba(19, 19, 24, 0.7);
}

h1 {
    color: rgb(19, 19, 24);
}

.theme-btn {
    background-color: rgb(255, 84, 0);
    color: white;
    padding: .8rem;
}

header,
main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-logo {
    display: flex;
    gap: 2rem;
}

.nav-list ul {
    display: flex;
    gap: 2rem;
}

.nav-list li {
    list-style-type: none;
}

.navbar i {
    font-size: 2rem;
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar i {
        display: block;
    }

    .nav-list {
        display: none;
    }
}


/* Top Banner Start */
.top-banner {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/group-13.png");
    background-size: cover;
    height: 100%;
    color: white;
    border-radius: 1rem;
}

.top-banner h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    color: #fff;
}

.top-banner p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.top-banner input,
select,
button {
    padding: .4rem .8rem;
    border: none;
    border-radius: .3rem;
    width: 180px;
    box-sizing: border-box;
}

.banner-container {
    margin-top: 3rem;
    display: flex;
    gap: .5rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 600px) {
    .top-banner {
        padding: 1rem;
        margin: 1rem;
    }

    .top-banner h1 {
        font-size: 2rem;
    }

    .top-banner p {
        font-size: .8rem;
    }

    .banner-container {
        width: 90%;
        flex-direction: column;
        padding: 1rem;
        margin: 0 1rem;
    }

    .top-banner input,
    select,
    button {
        width: 100%;
        padding: .8rem;
    }
}

/* Tour Section  */
.popular-tours {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tours-content {
    padding: .5rem;
}

.tours-content .description {
    color: rgba(19, 19, 24, 0.7);
    list-style-type: none;
}

.tours-content p {
    text-align: justify;
    color: rgba(19, 19, 24, 0.7);
}

.tours-img img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .popular-tours {
        margin-top: 1rem;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .tours-content {
        padding: 0;
    }

    .tours-content button {
        margin-bottom: 1rem;
        width: 50%;
    }
}

/* Choose Destination */
.choose-destination {
    margin-top: 4rem;
}

.choose-destination h1 {
    text-align: center;
    margin: 0;
}

.choose-destination p {
    text-align: center;
    margin: 0;
}

.destination-content {
    width: 50%;
    margin: 1rem auto;
}

.destination-gallery img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
}

.destination-gallery .img-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.second-row {
    width: 100%;
    display: grid;
    grid-template-areas: "srilanka america kashmir";
    gap: 1rem;
    margin-bottom: 1rem;
}

.third-row {
    width: 100%;
    display: grid;
    grid-template-areas: "bangladesh bandarban";
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .choose-destination {
        margin-top: 1rem;
    }

    .destination-gallery {
        margin: 0 1rem;
    }

    .destination-content {
        width: 100%;
    }

    .first-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-row {
        grid-template-areas: "srilanka" "america" "kashmir";
    }

    .third-row {
        grid-template-areas: "bangladesh" "bandarban";
    }

    .destination-gallery img {
        border-radius: .5rem;
    }
}

/* Choose Us */
.choose-us {
    margin-top: 4rem;
}

.choose-us-content {
    margin-bottom: 2rem;
}

.choose-us-content h1 {
    text-align: center;
    margin: 0;
}

.choose-us-content p {
    text-align: center;
    margin: 0;
}

.choose-us-container img {
    height: 80px;
    width: 80px;
}

.choose-us-first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.choose-us-second-row {
    width: 50%;
    margin: 0 auto;
}

.card {
    padding: 1rem;
    border-radius: 1rem;
}

.card-1 {
    background-color: rgba(251, 181, 99, 0.25);
}

.card-2 {
    background-color: rgba(41, 206, 246, 0.25);
}

.card-3 {
    background-color: rgba(233, 68, 68, 0.25);
}

@media screen and (max-width: 600px) {
    .choose-us {
        padding: 1rem;
        margin-top: 1rem;
    }

    .choose-us-content {
        margin-bottom: 1rem;
    }

    .choose-us-first-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose-us-second-row {
        width: 100%;
    }
}

/* Discount */
.resort {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.resort-content h1 {
    text-align: center;
    margin: 0;
}

.resort-content p {
    text-align: center;
    margin: 0;
    margin-bottom: .5rem;
}

.resort-1,
.resort-2,
.resort-3 {
    background-image: url("/images/group-39.png");
    background-size: cover;
    padding: 2rem;
    display: flex;
    border-radius: 1rem;
    justify-content: end;
    margin-bottom: 1rem;
}

.resort-2 {
    background-image: url("/images/group-40.png");
    justify-content: start;
}

.resort-card {
    padding: 1rem 2rem;
    background-color: #fff;
    width: 40%;
    opacity: .9;
    border-radius: 1rem;
}

.resort-card h1 {
    margin: 0;
}

.resort-card p {
    margin-top: 0;
    margin-right: 1.5rem;
}

.resort-card i {
    margin-right: .4rem;
    color: rgb(255, 84, 0);
}

.package-price {
    color: rgb(255, 84, 0);
    font-weight: 600;
}

.resort-card button {
    color: white;
    padding: .8rem;
}

.availability {
    display: flex;
}

@media screen and (max-width: 600px) {
    .resort {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .resort-card {
        width: 100%;
        padding: 1.5rem;
    }

    .resort-1,
    .resort-2,
    .resort-3 {
        padding: 1rem;
    }

    .availability {
        flex-direction: column;
    }

    .sm-screen-hidden {
        display: none;
    }
}

/* Bandarban Tour Section  */
.bandarban-tours {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bandarban-tours-content {
    padding: .5rem;
}

.bandarban-tours-content .bandarban-tours-description {
    color: rgba(19, 19, 24, 0.7);
    list-style-type: none;
}

.bandarban-tours-content p {
    text-align: justify;
    color: rgba(19, 19, 24, 0.7);
}

.tours-video iframe {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .bandarban-tours {
        margin-top: 1rem;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .bandarban-tours-content {
        padding: 0;
    }

    .bandarban-tours-content button {
        margin-bottom: 1rem;
        width: 50%;
    }

    .tours-video iframe {
        height: auto;
    }
}


/* Newsletter */

.newsletter {
    margin-top: 4rem;
}

.newsletter-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.newsletter-form {
    border-radius: 1rem;
    padding: 2rem;
    border: 2px solid rgb(255, 84, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter-form h2 {
    margin: 0;
}

.newsletter-form p {
    margin: .5rem 0;
}

.newsletter-input,
.newsletter-btn {
    width: 100%;
    padding: .8rem;
    margin: .5rem 0;
    display: inline-block;
    border: none;
    border-radius: .4rem;
    box-sizing: border-box;
}

.newsletter-img {
    position: relative;
}

.newsletter-img .newsletter-bg-img {
    width: 100%;
}

.newsletter-discount-img {
    height: 100px;
    width: 200px;
    border-radius: .5rem;
    position: absolute;
    bottom: 60px;
    right: 50px;
    transform: translate(30px, 20px) rotate(-20deg);
}

@media screen and (max-width: 600px) {
    .newsletter {
        margin-top: 2rem;
        padding: 1rem;
    }

    .newsletter-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Partners */
.our-partners {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.partners-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.our-partners h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.partners-container img {
    width: 100%;
    transition: .5s;
}

.partners-container img:hover {
    transform: scale(105%);
}

@media screen and (max-width: 600px) {
    .our-partners {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .partners-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Footer */
footer {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 4rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer p {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.social-media i {
    font-size: 2rem;
}