body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header,
main,
footer {
    max-width: 1170px;
    margin: 0 auto;
    background-color: #f2f2f2;
}

/* Top Banner Start */
.top-banner {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/group-13.png");
    background-size: cover;
    height: 100%;
    color: white;
    border-radius: 1rem;
}

.top-banner h1 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
}

.top-banner p {
    font-size: 1rem;
    font-weight: 400;
}

.top-banner input,
select,
button {
    padding: .4rem .8rem;
    border: none;
    border-radius: .3rem;
    width: 180px;
}

.find-btn {
    background-color: rgb(255, 84, 0);
    color: white;
}

.banner-container {
    margin-top: 3rem;
    display: flex;
    gap: .5rem;
    padding: 2rem;
    border-radius: .5rem;
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
}

@media screen and (max-width: 600px) {
    .top-banner {
        padding: 1rem;
        margin: 1rem;
    }

    .top-banner h1 {
        font-size: 2rem;
    }

    .top-banner p {
        font-size: .8rem;
    }

    .banner-container {
        width: 90%;
        flex-direction: column;
        padding: 1rem;
        margin: 0 1rem;
    }

    .top-banner input,
    select,
    button {
        width: 100%;
        padding: .8rem;
    }
}

/* Tour Section  */
.popular-tours {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tours-content {
    padding: .5rem;
}

.tours-content .description {
    color: rgba(19, 19, 24, 0.7);
    list-style-type: none;
}

.tours-content p {
    text-align: justify;
    color: rgba(19, 19, 24, 0.7);
}

.tours-content button {
    color: white;
    padding: 1rem;
}

.tours-img img {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .popular-tours {
        margin-top: 1rem;
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
    }

    .tours-content {
        padding: 0;
    }

    .tours-content button {
        margin-bottom: 1rem;
        width: 50%;
    }
}

/* Choose Destination */
.choose-destination {
    margin-top: 4rem;
}

.choose-destination h1 {
    text-align: center;
    margin: 0;
}

.choose-destination p {
    text-align: center;
    margin: 0;
}

.destination-content {
    width: 50%;
    margin: 1rem auto;
}

.destination-gallery img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
}

.destination-gallery .img-container {
    position: relative;
    text-align: center;
    color: white;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.second-row {
    width: 100%;
    display: grid;
    grid-template-areas: "srilanka america kashmir";
    gap: 1rem;
    margin-bottom: 1rem;
}

.third-row {
    width: 100%;
    display: grid;
    grid-template-areas: "bangladesh bandarban";
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 600px) {
    .choose-destination {
        margin-top: 1rem;
    }

    .destination-gallery {
        margin: 0 1rem;
    }

    .destination-content {
        width: 100%;
    }

    .first-row {
        grid-template-columns: repeat(1, 1fr);
    }

    .second-row {
        grid-template-areas: "srilanka" "america" "kashmir";
    }

    .third-row {
        grid-template-areas: "bangladesh" "bandarban";
    }

    .destination-gallery img {
        border-radius: .5rem;
    }
}